{% extends 'base.html' %}

{% block main %}
{{helpful_forms | safe}}
{% comment %} <div class="container main-content py-5">
    <div class="container">
        <h1 class="title fw-bold mb-3">
            Helpful Forms
        </h1>
        <div class="mt-5">
            If you're a new client, please complete the following coaching forms and bring them to
            your first session.
        </div>
        <div class="mt-3">
            <ul>
                <li><a href="">Client Intake Form</a></li>
                <li><a href>Goal Setting Worksheet</a></li>
                <li><a href="">New Client Questionnaire</a></li>
            </ul>
        </div>
    </div>
</div> {% endcomment %}
{% endblock %}