{% extends 'base.html' %}

{% block main %}
{{link_and_resources | safe}}
{% comment %} <div class="container main-content py-5">
    <div class="container">
        <h1 class="title fw-bold mb-3">
            Link & Resources
        </h1>
        <div class="mt-5">
            The following links are listed to provide you with additional online information and
            resources.
        </div>

        <div class="mt-5">
            <div class="section-title fw-bold h6">
                Balance
            </div>
            <ul>
                <li><a href="">5 Tips for Better Work/Life Balance</a></li>
                <li><a href>Creating Life Balance To Achieve Success</a></li>
                <li><a href="">Is Your Life in Balance – Take the Quiz!</a></li>
            </ul>
        </div>
        <div class="mt-5">
            <div class="section-title fw-bold h6">
                Career Guide
            </div>
            <ul>
                <li><a href="">Career Guide – Careers.org</a></li>
                <li><a href>Find Jobs. Build a Better Career</a></li>
                <li><a href="">Job Search and Career Advice</a></li>
            </ul>
        </div>

        <div class="mt-5">
            <div class="section-title fw-bold h6">
                Conflict Resolution
            </div>
            <ul>
                <li><a href="">Conflict Resolution Information Source</a></li>
                <li><a href>Conflict Resolution Strategies</a></li>
                <li><a href="">Conflict Management Strategies and Styles</a></li>
            </ul>
        </div>
    </div>
</div> {% endcomment %}
{% endblock %}