{% extends 'base.html' %} {% block main %}
{{terms_and_conditions |safe}}
{% comment %} <div class="container main-content py-5">
  <div class="title h2">Terms and Conditions</div>
  <div class="mt-5"></div>
  <div class="terms-and-conditions">
    <p class="fw-bold">Introduction</p>

    <p>
      These terms and conditions govern your use of the Bookwishes Club, which
      includes the features of a meditation timer, daily step counter, daily
      number of pages read, daily screen time, BMI and weight tracker, and
      emotional wellbeing tracker.This application was designed to encourage
      people to focus on their personal development. By using the Bookwishes
      Club, you accept these terms and conditions in full. If you disagree with
      these terms and conditions or any part of these terms and conditions, you
      must not use the Bookwishes Club.
    </p>
    <p class="fw-bold">Service Description</p>
    <p>The Service includes the following features:</p>
    <p>
      Meditation timer: Allows users to set a timer for meditation sessions and
      track their progress.
      
      <p>Daily step counter: Allows users to track their
      daily step count and view their progress over time.</p>
      <p>Daily pages read:
      Allows users to track the number of pages they read each day and view
      their progress over time.</p>
       <p> Daily screen time: Allows users to track their
      daily screen time of the frequently used mobile applications and view
      their progress over time.</p> 
      <p> BMI and weight tracker: Allows users to track
      their body mass index (BMI) and weight, and view their progress over time.</p>
      <p>
      Emotional wellbeing tracker: Allows users to track their emotional
      wellbeing and view their progress over time.</p>
    </p>

    <p class="fw-bold">User Accounts</p>

    <p>
      In order to use the Service, you must create an account with the
      Bookwishes Club When creating a User Account, you must provide accurate
      and complete information, and keep your User Account information
      up-to-date at all times. You are solely responsible for maintaining the
      confidentiality of your User Account information and for any activity that
      occurs under your User Account. You must notify the Bookwishes Club
      immediately if you suspect any unauthorized use of your User Account. This
      can be done through the feedback section of the mobile application.
    </p>
    <p class="fw-bold">Intellectual Property</p>
    <p>
      The Bookwishes Club and its content, including but not limited to text,
      images, graphics, logos, and software, is protected by copyright,
      trademarks, and other intellectual property rights. You may not reproduce,
      duplicate, copy, sell, resell, or exploit any part of the Bookwishes Club
      for any commercial purpose without the express written permission of the
      owner. You are granted a limited, non-exclusive, non-transferable license
      to access and use the Service and the content and materials included on
      the Service for your personal, non-commercial use.
    </p>

    <p class="fw-bold">Use of the Bookwishes Club :</p>
    <p>
      You agree to use the Bookwishes Club only for lawful purposes and in a way
      that does not infringe the rights of, restrict or inhibit anyone else's
      use and enjoyment of the Bookwishes Club.
    </p>

    <p>
      You may not use the Bookwishes Club to:
      
      <p>upload, post, email, or otherwise
      transmit any content that is illegal, harmful, threatening, abusive,
      harassing, tortious, defamatory, vulgar, obscene, libelous, invasive of
      another's privacy, hateful, or racially, ethnically, or otherwise
      objectionable;</p>
      <p> harm minors in any way; impersonate any person or entity,
      or falsely state or otherwise misrepresent your affiliation with a person
      or entity;</p>
      <p> upload, post, email, or otherwise transmit any content that you
      do not have a right to transmit under any law or under contractual or
      fiduciary relationships (such as inside information, proprietary and
      confidential information learned or disclosed as part of employment
      relationships or under nondisclosure agreements); </p>
      <p> upload, post, email, or
      otherwise transmit any content that infringes any patent, trademark, trade
      secret, copyright, or other proprietary rights of any party;</p>
      <p> upload, post,
      email, or otherwise transmit any unsolicited or unauthorized advertising,
      promotional materials, "junk mail," "spam," "chain letters," "pyramid
      schemes," or any other form of solicitation; </p> 
      <p> upload, post, email, or
      otherwise transmit any material that contains software viruses or any
      other computer code, files, or programs designed to interrupt, destroy, or
      limit the functionality of any computer software or hardware or
      telecommunications equipment; </p> 
      <p> interfere with or disrupt the Service or
      servers or networks connected to the Service, or disobey any requirements,
      procedures, policies, or regulations of networks connected to the Service;
      violate any applicable local, state, national, or international law, or
      any regulations having the force of law;</p>
    </p>

    <p>
      You are solely responsible for all content that you upload, post, email,
      or otherwise transmit through the Service, and you warrant that you have
      the right to transmit such content.The Bookwishes Club reserves the right
      to remove any content that it deems to be in violation of these Terms or
      that it otherwise deems to be inappropriate.
    </p>

    <p class="fw-bold">Disclaimers</p>
    <p>
      The Bookwishes Club is provided on an "as is" and "as available" basis
      without any representation or endorsement made and without warranty of any
      kind whether express or implied, including but not limited to the implied
      warranties of satisfactory quality, fitness for a particular purpose,
      non-infringement, compatibility, security, and accuracy. The owner of the
      Bookwishes Club does not warrant that the functions contained in the
      Bookwishes Club will be uninterrupted or error-free, that defects will be
      corrected, or that the Bookwishes Club or the server that makes it
      available are free of viruses or bugs.
    </p>
    <p class="fw-bold">Limitations of Liability :</p>
    <p>
      In no event shall the owner of the Bookwishes Club be liable for any
      direct, indirect, punitive, incidental, special, or consequential damages
      arising out of or in any way connected with the use of the Bookwishes
      Club, the delay or inability to use the Bookwishes Club, or for any
      information, products, services, and related graphics obtained through the
      Bookwishes Club, whether based on contract, tort, strict liability or
      otherwise, even if the owner of the Bookwishes Club has been advised of
      the possibility of damages.
    </p>

    <p class="fw-bold">Indemnification :</p>
    <p>
      You agree to indemnify and hold the owner of the Bookwishes Club and its
      affiliates, officers, agents, and other partners and employees, harmless
      from any loss, liability, claim, or demand, including reasonable
      attorneys' fees, made by any third party due to or arising out of your use
      of the Bookwishes Club in violation of these terms and conditions and/or
      arising from a breach of these terms and conditions and/or any breach of
      your representations and warranties set forth above.
    </p>

    <p class="fw-bold">Severability :</p>
    <p>
      If any provision of these terms and conditions is found to be invalid or
      unenforceable by a court of competent jurisdiction, the invalidity of such
      provision shall not affect the validity of the remaining provisions of
      these terms and conditions, which shall remain in full force and effect.
    </p>
    <p class="fw-bold">Termination:</p>
    <p>
      The Bookwishes Club may terminate your use of the Service at any time and
      for any reason, with or without notice.Upon termination, your right to use
      the Service will immediately cease, and the Bookwishes Club may delete any
      content or materials that you have uploaded, posted, emailed, or otherwise
      transmitted through the Service.
    </p>

    <p class="fw-bold">Entire Agreement :</p>
    <p>
      These terms and conditions, together with the privacy policy, constitute
      the entire agreement between you and the owner of the Bookwishes Club in
      relation to your use of this mobile application, and supersede all prior
      agreements in respect of your use of this mobile application. By using the
      Bookwishes Club, you acknowledge that you have read, understood and agree
      to be bound by these Terms and Conditions.
    </p>
  </div>
</div> {% endcomment %}
{% endblock %}
